<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:custom="http://www.w3.org/1999/xhtml">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/views.css}"/>
</head>

<form th:method="DELETE" th:action="@{/player/{id}(id=${player.id})}" th:object="${player}">
    <div class="container">

        <h1>View Player</h1>
        <hr>

        <label for="first" class="view-left">First Name</label>
        <span th:text="${player.firstName}" class="view-right"/>
        <hr>
        <label for="last" class="view-left">Last Name</label>
        <span th:text="${player.lastName}" class="view-right"/>
        <hr>
        <label for="last" class="view-left">Jersey Number</label>
        <span th:text="${player.jerseyNumber}" class="view-right"/>
        <hr>
        <label for="last" class="view-left">Position</label>
        <span th:text="${player.position}" class="view-right"/>
        <hr>
        <label for="last" class="view-left">Age</label>
        <span th:text="${player.age}" class="view-right"/>
        <hr>

        <button type="submit" class="btn">Delete User</button>
        <input type="hidden" name="_method" value="DELETE"/>

        </tr>

    </div>
</form>
<div class="container returnTo">
    <a th:href="@{/}">Return to Home</a>
</div>


</html>